<?xml version="1.0"?>
<configuration>
	<property>
		<name>fs.s3.awsAccessKeyId</name>
		<value>AKIAJZ6SMM6RROHBVVHA</value>
	</property>
	<property>
		<name>fs.s3.awsSecretAccessKey</name>
		<value>LAyWSsiffrbtZPCzQK18Non/UwjKLWrVXGlB46G0</value>
	</property>
	<property>
		<name>path.output.parse</name>
		<name>parse</name>
	</property>
	<property>
		<name>path.output.degree</name>
		<name>degree</name>
	</property>
	<property>
		<name>path.output.degree.indegree</name>
		<name>indegree</name>
	</property>
	<property>
		<name>path.output.degree.outdegree</name>
		<name>outdegree</name>
	</property>
	<property>
		<name>path.output.graph</name>
		<name>graph</name>
	</property>

</configuration>